<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
<Files 403.shtml>
order allow,deny
allow from all
</Files>

deny from 203.158.38.188
deny from 203.206.26.240
deny from 220.244.136.200
